
BOOL : {"Info_isData"}
INT : {"Info_EventNumber","Info_Luminosity","Info_RunNumber","Channel_Idx","Channel_Idx_Final","Channel_Jets","Channel_Jets_Abs","Channel_Lepton_Count","Channel_Lepton_Count_Final","GenJet_Count","GenPar_Count"}
#UINT : {""}
#FLOAT : {""}
#DOUBLE : {""}
#STRING : {""}
TLorentzVector : {"GenPar","GenJet","GenTop"}

#BOOL_VECTOR : {""}
INT_VECTOR : {"GenPar_Dau1_Idx","GenPar_Dau2_Idx","GenPar_Dau_Counter","GenPar_Idx","GenPar_pdgId","GenPar_Mom1_Idx","GenPar_Mom2_Idx","GenPar_Mom_Counter","GenPar_Status"}
#UINT_VECTOR : {""}
FLOAT_VECTOR : {"GenJet_HCalEnergy","GenJet_ECalEnergy"}
#DOUBLE_VECTOR : {""}
#STRING_VECTOR : {""}
