Hist       = {"numPV",	"MET",	"HT",	"HM",	"numJets",	"numBJets",	"InvMass"}
Hist_Bins  = {100,	1000,	3000,	5000,	30,		30,		1000}
Hist_Start = {0,	0,	0,	0,	0,		0,		0}
Hist_End   = {100,	1000,	3000,	5000,	30,		30,		1000}

Lepton       = {"Elec_1_Pt",	"Elec_1_Eta",	"Elec_1_Phi",	"Elec_1_E",					"Elec_2_Pt","Elec_2_Eta","Elec_2_Phi","Elec_2_E","Muon_1_Pt","Muon_1_Eta","Muon_1_Phi","Muon_1_E","Muon_2_Pt","Muon_2_Eta","Muon_2_Phi","Muon_2_E"}
Lepton_Bins  = {1000,		1000,		1000,		1000}
Lepton_Start = {0,		-5,		-3.14,		0}
Lepton_End   = {1000,		5,		3.14,		1000}

Jet       = {"Jet_1_Pt",	"Jet_1_Eta",	"Jet_1_Phi",	"Jet_1_E",	"Jet_1_CSV",	"Jet_1_qg",		"Jet_2_Pt","Jet_2_Eta","Jet_2_Phi","Jet_2_E","Jet_2_CSV","Jet_2_qg","Jet_3_Pt","Jet_3_Eta","Jet_3_Phi","Jet_3_E","Jet_3_CSV","Jet_3_qg","Jet_4_Pt","Jet_4_Eta","Jet_4_Phi","Jet_4_E","Jet_4_CSV","Jet_4_qg","BJet_1_Pt","BJet_1_Eta","BJet_1_Phi","BJet_1_E","BJet_1_CSV","BJet_1_qg","BJet_2_Pt","BJet_2_Eta","BJet_2_Phi","BJet_2_E","BJet_2_CSV","BJet_2_qg"}
Jet_Bins  = {2000,		1000,		1000,		2000,		200,		200}
Jet_Start = {0,			-5,		-3.14,		0,		-1,		-1}
Jet_End   = {2000,		5,		3.14,		2000,		1,		1}

#2D        = {"TTT","TTL","TLL","LLL","TTTw","TTLw","TLLw","LLLw"}
#2D_XBins  = {10}
#2D_XStart = {0}
#2D_XEnd   = {10}
#2D_YBins  = {10}
#2D_YStart = {0}
#2D_YEnd   = {10}
